$viseme-block-width: 3px;
$viseme-block-height: 60px;
$viseme-block-pad: 3px;
$viseme-block-vpad: 9px;

$viseme-a: #98c9f8;
$viseme-b: #ce8fd8;
$viseme-c: #67be69;
$viseme-d: #f9a731;
$viseme-unk: #f9a731;
$viseme-no: white;
$viseme-others: red;
$viseme-selected: yellow;

#visemewrap {
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 0.5em;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 16px 0;
  height: calc(
    #{62px + $viseme-block-height} + #{$viseme-block-height + $viseme-block-vpad} *
      (var(--track-cnt) - 1)
  );
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  .visemecont {
    position: absolute;
    left: 32px;
    right: 32px;
    top: 16px;
    bottom: 16px;
    display: flex;
    margin-left: calc(
      300px + var(--current-frame) * #{-1 * (
          $viseme-block-width + $viseme-block-pad
        )}
    );
    margin-top: calc(
      var(--track-no) * #{$viseme-block-height + $viseme-block-vpad}
    );
  }

  #visemeline {
    background-color: $viseme-others;
    width: 1px;
    max-width: 1px;
    height: calc(
      #{46px + $viseme-block-height} + #{$viseme-block-height + $viseme-block-vpad} *
        (var(--track-cnt) - 1)
    );
    position: absolute;
    bottom: 8px;
    left: 331px;
  }

  .visemeblock {
    width: $viseme-block-width;
    min-width: $viseme-block-width;
    max-width: $viseme-block-width;
    height: $viseme-block-height;
    background-color: rgba(128, 128, 128, 0.5);
    margin-right: $viseme-block-pad;
    margin-top: 28px;
    border-radius: 3px;

    &[data-selected='true'] {
      outline: 1px solid $viseme-selected;
    }

    &[data-strongtick='true'] {
      filter: brightness(2);
    }

    &[data-track='0'][data-timeline]:not([data-timeline='']) {
      &::before {
        content: attr(data-timeline);
        font-family: 'Inconsolata', monospace;
        position: absolute;
        margin-top: -30px;
        font-size: 15px;
        width: 10ex;
        margin-left: -5ex;
        text-align: center;
      }
    }

    &[data-timeline]:not([data-timeline='']) {
      &::after {
        position: absolute;
        top: 21px;
        width: $viseme-block-width;
        height: 5px;
        background-color: $viseme-others;
        content: '';
      }
    }

    &[data-type='typea'] {
      background-color: $viseme-a;
    }

    &[data-type='typeb'] {
      background-color: $viseme-b;
    }

    &[data-type='typec'] {
      background-color: $viseme-c;
    }

    &[data-type='typed'] {
      background-color: $viseme-d;
    }

    &[data-type='unknown'] {
      background-color: $viseme-unk;
    }

    &[data-state='noise'] {
      background-color: $viseme-no;
    }

    span {
      font-family: 'Nanum Gothic Coding', monospace;
      font-weight: 900;
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.3);

      &::after {
        position: absolute;
        right: 1px;
        text-shadow: black 0 0 8px, black 0 0 8px, black 0 0 8px;
        width: 7em;
        text-align: right;
        content: var(--label-content);
        top: calc(2px + var(--label-margin) * 1px);
      }
    }
  }
}
